header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;

    &.scrolled {
        background-color: $dark-blue;

        nav {
            padding: 1.2em 0;

            img {
                height: 2.5em;
            }
        }
    }

    nav {
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
        padding: 2.5em 0;
        width: 90%;

        img {
            height: 3em;
            transition: all 0.1s;
            &:hover {
                filter: sepia(2);
                filter: saturate(8);
                filter: brightness(0.9);
            }
        }

        .list-container {
            display: flex;
            align-items: center;
            gap: 2em;

            .nav-list {
                display: flex;
                list-style: none;
                gap: 2em;

                li {
                    opacity: 80%;
                    transition: all;
                    transition-duration: 0.2s;

                    &:hover {
                        opacity: 100%;
                    }

                    a {
                        text-decoration: none;
                        color: #fff;
                        font-family: "Montserrat", sans-serif;
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    header {
        &.scrolled {
            background-color: $dark-blue;

            nav {
                padding: 1.5em 0;
                width: 90%;

                img {
                    height: 1.5em;
                }
            }
        }
        nav {
            padding: 1.5em 0;

            img {
                height: 1.5em;
            }

            .list-container {
                .nav-list {
                    display: none;
                }
            }
        }
    }
}

.menu {
    color: white;
    font-size: 1.4em;
    cursor: pointer;
}
