$dark-blue: #101f43;
$accent-blue: #769cf4;
$primary-font: "Lora", serif;

html {
    scroll-behavior: smooth;
}

.text-blue {
    color: $accent-blue;
}

.text-dark {
    color: $dark-blue;
    font-weight: 600;
    text-decoration: underline;
}

.primary-btn {
    border: none;
    padding: 0.75em 1em;
    font-size: 1.3em;
    background-color: transparent;
    color: #fff;
    border: solid 3px #fff;
    cursor: pointer;
    transition: all;
    transition-duration: 0.2s;
    &:hover {
        background-color: #fff;
        outline: none;
        color: $dark-blue;
    }
}

.secondary-btn {
    border: none;
    padding: 0.75em 1em;
    font-size: 1.3em;
    background-color: #fff;
    color: $dark-blue;
    cursor: pointer;
    transition: all;
    transition-duration: 0.2s;

    &:hover {
        background-color: $dark-blue;
        outline: solid 3px $dark-blue;
        color: #fff;
    }
}

.short-btn {
    width: fit-content;
}

.container {
    display: flex;
    width: 90%;
    max-width: 1780px;
}

@media screen and (max-width: 480px) {
    .primary-btn {
        font-size: 1em;
    }
    .secondary-btn {
        font-size: 1em;
    }
}